---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCJcVBPVfTbFIAoEfPOmGLFg&key=<YT_API_KEY>&maxResults=50&order=date&part=snippet&publishedBefore=2019-10-16T17:20:21.999Z&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"p4VTdlkQv3HQeTEaXgvLePAydmU/bR1bAa8M5R-dVGhA-wYICTehKVI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/bR1bAa8M5R-dVGhA-wYICTehKVI\"",
         "nextPageToken": "CDIQAA",
         "regionCode": "CA",
         "pageInfo": {
          "totalResults": 95,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/86m8FAXyiy5DGeYCR1JwYyz28W8\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "t7uuEFUdECI"
           },
           "snippet": {
            "publishedAt": "2011-10-03T16:01:21.000Z",
            "channelId": "UCJcVBPVfTbFIAoEfPOmGLFg",
            "title": "Metallica - Broken Beat and Scarred Karaoke",
            "description": "Music and Lyrics by Metallica Graphics by ARK https://kickass.to/arkaraoke-karaoke-disc-6-t9842218.html.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/t7uuEFUdECI/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/t7uuEFUdECI/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/t7uuEFUdECI/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "ARKaraoke85",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/qGiLB5WEVjS_lc927mVLvbP5XTw\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "IituO02Jv9U"
           },
           "snippet": {
            "publishedAt": "2011-10-03T15:56:28.000Z",
            "channelId": "UCJcVBPVfTbFIAoEfPOmGLFg",
            "title": "Metallica - Unforgiven III Karaoke",
            "description": "Mus[...]
- request:
    method: post
    uri: http://localhost:9200/_bulk
    body:
      encoding: UTF-8
      string: |
        {"index":{"_index":"videos_test","_id":2}}
        {"title":"Metallica - Broken Beat and Scarred","description":"Music and Lyrics by Metallica Graphics by ARK https://kickass.to/arkaraoke-karaoke-disc-6-t9842218.html."}
    headers:
      Content-Type:
      - application/x-ndjson
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":11,"errors":false,"items":[{"index":{"_index":"videos_test","_type":"_doc","_id":"2","_version":44,"result":"updated","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":191,"_primary_term":2,"status":200}}]}'
  recorded_at: Wed, 16 Oct 2019 17:20:22 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCJcVBPVfTbFIAoEfPOmGLFg&key=<YT_API_KEY>&maxResults=50&order=date&pageToken=CDIQAA&part=snippet&publishedBefore=2011-02-27T21:14:51.999Z&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"p4VTdlkQv3HQeTEaXgvLePAydmU/PeFawvj8GCYun-Mvr6HVW8PPSbQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"p4VTdlkQv3HQeTEaXgvLePAydmU/PeFawvj8GCYun-Mvr6HVW8PPSbQ\"",
         "prevPageToken": "CDIQAQ",
         "regionCode": "CA",
         "pageInfo": {
          "totalResults": 58,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Wed, 16 Oct 2019 17:20:23 GMT
[...]
- request:
    method: post
    uri: http://localhost:9200/_bulk
    body:
      encoding: UTF-8
      string: |
        {"index":{"_index":"videos_test","_id":96}}
        {"title":"Nightmare - Avenged Sevenfold","description":"Music and Lyrics by Avenged Sevenfold Graphics by ARK https://kickass.to/arkaraoke-karaoke-disc-2-t8547749.html."}
    headers:
      Content-Type:
      - application/x-ndjson
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"took":11,"errors":false,"items":[{"index":{"_index":"videos_test","_type":"_doc","_id":"96","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":285,"_primary_term":2,"status":201}}]}'
  recorded_at: Wed, 16 Oct 2019 17:20:24 GMT
recorded_with: VCR 5.0.0
