<div class="container">
  <p>
    Provide a YouTube Video ID for the song to be added (e.g. 'SpFcw_JqthM'):
  </p>
  <%= form_with model: @video do |f| %>
    <%= f.text_field :uid, placeholder: "Video ID", class: 'form-control', required: true %>
    <%= f.submit class: 'btn btn-info' %>
  <% end %>
</div>