<div class="row">
  <div class="col col-md-9">
    <% if @video.nil? %>
    <p>
      Try adding a video from YouTube!
    </p>
    <% else %>
      <%= render @video %>
    <% end %>
  </div>
  <div class="col col-md-3">
    <div class="row mb-3 justify-content-center">
      <%= link_to "Add Videos", new_video_path, class: "btn btn-sm btn-outline-success" %>
    </div>
    <div class="row thumbnail-scroll justify-content-center">
      <% if @videos.any? %>
        <%= render 'videos/thumbnail', locals: {video: @videos} %>
      <% end %>
    </div>
  </div>
</div>