<div class="navbar navbar-expand-md sticky-top navbar-dark bg-dark mb-3">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-music"></i> "Keep Singing!"<i class="fas fa-music"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <%= form_with url: search_page_path, method: :get, class: "form-inline ml-auto", local: true do |f| %>
      <%= f.text_field :q, class: "form-control mr-sm-2", placeholder: "Search", "aria-label": "Search" %>
      <%= f.submit "Search", name: nil, class: "btn btn-outline-info my-2 my-sm-0" %>
    <% end %>
  </div>
</div>